.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: #111827;
}

.loading-text {
  font-size: 3.0rem;
  font-weight: 300;
  animation: zoom-in 7s forwards;
  letter-spacing: 0.5em;
}

@keyframes zoom-in {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(0.7);
    opacity: 1;
  }
}

.progress-bar-container {
  width: 50%;
  height: 20px;
  background-color: #e5e7eb;
  border-radius: 10px;
  margin-top: 50px;
  overflow: hidden;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #2563eb;
  border-radius: 10px;
  animation: progress-animation 7s linear forwards;
}

@keyframes progress-animation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}